# Common
SERPAPI_API_KEY=
MEMOPHISH_PROVIDER=openai

# OpenAI
OPENAI_API_KEY=
MEMOPHISH_OPENAI_MODEL=gpt-4o-mini
MEMOPHISH_OPENAI_EMBED_MODEL=text-embedding-3-small

# Bedrock / AWS
AWS_REGION=us-east-1
# AWS_PROFILE=default
MEMOPHISH_BEDROCK_MODEL=anthropic.claude-3-sonnet
MEMOPHISH_BEDROCK_EMBED_MODEL=amazon.titan-embed-image-v1
